@media (max-width: 1200px){
    .header {
        padding: 0 20px 0 20px;
    }
    .promo {
        &__wrapper {
            padding-right: 20px;
        }
    }
    .advantage {
        &__wrapper {
            padding-right: 20px;
            padding-left: 20px;
        }
        &__descr {
            font-size: 13px;
        }
    }
    .consultation {
        padding-left: 20px;
    }
    .carousel {
        img {
            width: 80%;
            margin: 0 auto;
        }
    }
    .catalog {
        &__content {
            justify-content: center;
        }
        &-item {
            margin-right: 20px;
        }
    }
    .clients {
        &-item {
            width: 725px;
        }
    }
}
@media (max-width: 991px) {
    .header {
        padding: 0 30px 0 30px;
        &__logo {
            width: 210px;
        }
    }
    .promo {
        padding-bottom: 70px;
        &__wrapper {
            margin-top: 70px;
            padding-right: 30px;
        }
        &__header {
            font-size: 30px;
        }
        &__subheader {
            margin-top: 13px;
            font-size: 16px;           
        }
        &__icons {
            margin-top: 35px;
            width: 380px;
        }
    }
    .advantage {
        padding: 60px 0 65px 0;
        &__wrapper {
            padding-top: 40px;
        }
        &__subheader {
            margin-top: 45px;
        }
    }
    .button {
        &_main {
            margin-top: 50px;
            width: 250px;
        }
    }
    .consultation {
        padding: 90px 0 70px 30px;
        min-height: 650px;
        &__descr {
            font-size: 18px;
        }
    }
    .title {
        &_left {
            font-size: 30px;
        }
    }
    .carousel {
        padding-bottom: 60px;
        img {
            width: 70%;
        }
    }
    .catalog {
        padding-bottom: 60px;
        &__tab {
            width: 190px;
        }
    }
    .clients {
        &-item {
            width: 700px;
        }
    }
}
@media(max-width: 767px) {
    .promo {
        .header {
            padding: 0 20px 0 20px;
            &__logo {
                width: 170px;
            }
            &__official {
                font-size: 10px;
                span {
                    font-size: 16px;
                }
            }
            &__phone {
                font-size: 14px;
            }
            .button {
                display: none;
            }      
        }
    }
    .advantage {
        &__wrapper {
            padding-top: 20px;
            justify-content: center;
            flex-flow: column wrap;
        }
        &__descr {
            margin: 0 auto;
            font-size: 15px;
        }
        &__subheader {
            margin-top: 30px;
        }
        &__item {
            margin-top: 20px
        }
    }
    .carousel {
        display: none;
    }
    .catalog {
        padding-top: 30px;
        &__tab {
            width: 160px;
        }
        &-item {
            margin-right: 0;
        }
    }
    .clients {
        &-item{
            display: flex;
            justify-content: center;
            flex-flow: column;
            width: 500px;
            img {
                margin: 0 auto;
                margin-bottom: 30px;
                padding-right: 0px;
            }
            &__header {
                text-align: center;
                font-size: 17px;
            }
            &__subheader {
                text-align:center;
                font-size: 14px;
            }
            &__descr {
                font-size: 15px;
            }
        }
    }  
}
@media(max-width: 575px) {
    
}